.container {
  color: rgb(175, 175, 175);
  padding: 3rem 0;
  background: rgba(0, 0, 0, 0.863);
}
/* .seprator{
    height: 0.25rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    background-color: rgb(78, 78, 78);
} */
.footer {
  width: 60%;
  margin: auto;
}
.lists {
  display: flex;
  justify-content: space-between;
}
.lists li {
  list-style: none;
  padding: 0.2rem;
  text-transform: capitalize;
}
.lang {
  margin: 2rem 0;
  margin-bottom: 1rem;
  width: 6rem;
  padding: 0.5rem;
  border: 1px solid rgb(175, 175, 175);
  color: rgb(175, 175, 175);
  background-color: transparent;
}
.lang:focus-visible {
  outline: none;
}
h6 {
  font-size: 0.8rem;
}
@media only screen and (max-width: 600px) {
  .lists {
    flex-direction: column;
  }
  .lists ul {
    padding: 1rem 0;
  }
}
