
.container{
    width: 96%;
    margin: auto;
    color: #fff;
}
h3{
    font-size: 1.5rem;
    margin: 3rem 0 1rem 0;
}
.card{
    margin: 0 0.5rem;
}
@media only screen and (max-width:1700px)  {
    .card img{
        width: 180px;
    }
}
@media only screen and (max-width:768px)  {
    .card img{
        width: 160px;
    }
}
@media only screen and (max-width:510px)  {
    .card img{
        width: 150px;
    }
}
@media only screen and (max-width:450px)  {
    .card img{
        width: 160px;
    }
}
@media only screen and (max-width:350px)  {
    .card img{
        width: 200px;
    }
}