<app-nav></app-nav>
<section>
  <!-- <div class="searchMenu">
    <input
      class="searchBox"
      type="text"
      placeholder="Search"
      [(ngModel)]="userInput"
      [autofocus] = true
    />

    <mat-form-field appearance="fill" class="select">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option value="movies">Movies</mat-option>
        <mat-option value="tvShows">TV Shows</mat-option>
        <mat-option value="both">Both</mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div *ngIf="searchResults">
    <h2>Search results for '{{ userInput | uppercase }}'</h2>
    <app-card [results]="searchResults.results"></app-card>
  </div>
</section>
