<div class="nav-container" [ngClass]="classes">
  <span class="menu-container">
    <div class="logo">
      <a href="#"><img src="/assets/images/logo.png" alt="Netflix" /></a>
    </div>
    <div class="navbar">
      <ul>
        <li>
          <a routerLink="/homepage" routerLinkActive="active">home</a>
        </li>
        <li>
          <a routerLink="/movies" routerLinkActive="active">movies</a>
        </li>
        <li>
          <a routerLink="/tvpage-component" routerLinkActive="active"
            >tv shows</a
          >
        </li>
        <li>
          <a routerLink="/recentpage-component" routerLinkActive="active"
            >recently added</a
          >
        </li>
        <li>
          <a routerLink="/mylistpage-component" routerLinkActive="active"
            >my list</a
          >
        </li>
      </ul>
    </div>
  </span>
  <div class="menu">
    <ul>
      <li>
        <a (click)="searchBarToggle()"><mat-icon>search</mat-icon></a>
      </li>
      <li><a>KIDS</a></li>
      <li><a>DVD</a></li>
      <li>
        <a><mat-icon>notifications</mat-icon></a>
      </li>
      <li id="profile">
        <a [matMenuTriggerFor]="belowMenu"><mat-icon>account_circle</mat-icon></a>
        <mat-menu #belowMenu="matMenu" yPosition="below">
          <div class="float-menu">
            <button mat-menu-item>Profile</button>
          <button mat-menu-item>Settings</button>
          <button mat-menu-item (click)='signOut()'>SignOut</button>
          </div>
        </mat-menu>
      </li>
      
    </ul>
  </div>
  <span class="ham-menu" (click)="showSidebar()">
    <mat-icon>menu</mat-icon>
  </span>
</div>
<span class="searchBar" *ngIf="searchBarStatus">
  <div>
    <input
      type="text"
      placeholder="Search"
      autofocus
      (keyUp.Enter)="search(input.value)"
      #input
    />
    <button class="search" (click)="search(input.value)">
      <mat-icon>search</mat-icon>
    </button>
    <button class="close" (click)="searchBarToggle()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</span>

<app-sidebar [sidebarStatus]="sideBarStatus"></app-sidebar>
