<div class="sidebar" [ngClass]="{ 'active': sidebarStatus ? 'active' : '' }">
  <ul>
    <li class="search-bar">
      <a>
        <input type="text" placeholder="Search" />
        <mat-icon>search</mat-icon>
      </a>
    </li>
    <li><a routerLink="/homepage-component" class="active">home</a></li>
    <li><a routerLink="/moviespage-component">movies</a></li>
    <li><a routerLink="/tvpage-component">tv shows</a></li>
    <li><a routerLink="/recentpage-component">recently added</a></li>
    <li><a>My account</a></li>
    <li><a routerLink="/mylistpage-component">my list</a></li>
    <li><a>KIDS</a></li>
    <li><a>DVD</a></li>
  </ul>
</div>
