<div class="sidebar" [ngClass]="{ 'active': sidebarStatus ? 'active' : '' }">
  <ul>
    <li class="search-bar">
      <a>
        <input type="text" placeholder="Search" (keyUp.Enter)="search(input.value)" #input/>
        <mat-icon type='submit'(click)='search(input.value)'>search</mat-icon>
      </a>
    </li>
    <li><a (click)='closeSideBar()' routerLink="/homepage-component" class="active">home</a></li>
    <li><a (click)='closeSideBar()' routerLink="/moviespage-component">movies</a></li>
    <li><a (click)='closeSideBar()' routerLink="/tvpage-component">tv shows</a></li>
    <li><a (click)='closeSideBar()' routerLink="/recentpage-component">recently added</a></li>
    <li><a (click)='closeSideBar()'>My account</a></li>
    <li><a (click)='closeSideBar()' routerLink="/mylistpage-component">my list</a></li>
    <li><a (click)='closeSideBar()'>KIDS</a></li>
    <li><a (click)='closeSideBar()'>DVD</a></li>
  </ul>
</div>
